* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 320px;
  /* background-image: url(mobile/Desktop.png);
  background-repeat: no-repeat;
  opacity: 0.5; */
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  min-width: 1111px;
}
.right_side {
  width: 100%;
  min-width: 1111px;
}
